#container{
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0px auto;
}
input[type=button]{
	background: lightblue;
	width: 20%;
	font-size: 20px;

}
input[type=button]:hover{
	background-color: white;

}
#answer{
	position: relative;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 77%;
	font-size: 25px;
	background-color: grey;
}